[project]
	description = Allows a user to sign in to Azure and change the subscription they are currently logged in to more easily
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nissan Dookeran (nissan)
[access "refs/for/refs/*"]
	read = group user/Nissan Dookeran (nissan)
	push = group user/Nissan Dookeran (nissan)
	label-Code-Review = -2..+2 group user/Nissan Dookeran (nissan)
	label-Verified = -1..+1 group user/Nissan Dookeran (nissan)
	rebase = group user/Nissan Dookeran (nissan)
	removeReviewer = group user/Nissan Dookeran (nissan)
	submit = group user/Nissan Dookeran (nissan)
[access "refs/heads/*"]
	read = group user/Nissan Dookeran (nissan)
	create = group user/Nissan Dookeran (nissan)
	push = +force group user/Nissan Dookeran (nissan)
	pushMerge = group user/Nissan Dookeran (nissan)
[access "refs/tags/*"]
	push = +force group user/Nissan Dookeran (nissan)
	pushTag = group user/Nissan Dookeran (nissan)
	pushSignedTag = group user/Nissan Dookeran (nissan)
